<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="LOG_PATH">logs</Property>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss} [%t] %-5level [traceId=%X{traceId}] %c{1} - %msg%n
        </Property>
    </Properties>

    <Appenders>

        <!-- Consola -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- Archivo con rotación -->
        <RollingFile name="File"
                     fileName="${LOG_PATH}/user-service/product-service.log"
                     filePattern="${LOG_PATH}/user-service/product-service-%d{yyyy-MM-dd}.log">

            <PatternLayout pattern="${LOG_PATTERN}"/>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>

            <DefaultRolloverStrategy max="7"/>
        </RollingFile>

    </Appenders>

    <Loggers>

        <!-- Spring Web -->
        <Logger name="org.springframework.web" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <!-- Tu código -->
        <Logger name="com.ecommerce" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>

    </Loggers>

</Configuration>