# =========================
# GIT
# =========================

.git
.gitignore

# =========================
# MAVEN
# =========================

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# =========================
# IDE
# =========================

.idea/
*.iml
.vscode/

# =========================
# LOGS
# =========================

logs/
*.log

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# ENV FILES
# =========================

.env
.env.*

# =========================
# DOCKER
# =========================

docker-compose.yml